@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
/**************** 반응형 ****************/
html, body, h1, h2, h3, h4, h5, h6, p, div, header, footer, section, aside, article, ul, ol, li, dl, dd, dt, fieldset {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

ul, ol {
  list-style: none;
}

.w100 {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

img {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
}

address {
  font-style: normal;
}

input, select, textarea, button {
  font-size: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

.wrapper {
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  color: #4C4C6D;
}

.wrapper .side-bt {
  font-size: 2em;
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  display: none;
}

@media screen and (max-width: 992px) {
  .wrapper .side-bt {
    display: block;
  }
}

.wrapper .header-wrap {
  width: 100vw;
  position: relative;
  background-color: #B2EBF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1em;
}

.wrapper .header-wrap .title {
  font-weight: bold;
  font-size: 1.5em;
}

.wrapper .header-wrap .menu-wrap {
  font-size: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .header-wrap .menu-wrap .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .header-wrap .menu-wrap .menu-list li {
  padding: 1em;
}

.wrapper .header-wrap .menu-wrap .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 992px) {
  .wrapper .header-wrap .menu-wrap .icon-list {
    display: none;
  }
}

.wrapper .header-wrap .menu-wrap .icon-list li {
  padding: 0.5em;
  padding-bottom: 1em;
}

.wrapper .side-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 100vh;
  background: white;
  z-index: 150;
  left: -9999px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.wrapper .side-wrap .side-header {
  position: relative;
  height: 100px;
  margin-bottom: 2em;
  background-color: #B2EBF2;
}

.wrapper .side-wrap .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .side-wrap .side .menu-list {
  text-align: center;
  width: 200px;
}

.wrapper .side-wrap .side .menu-list li {
  width: 100%;
  padding: 1em;
}

.wrapper .side-wrap .side .menu-list li:hover {
  background-color: #B2EBF2;
  color: #00BCD4;
}

.wrapper .side-wrap .side .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 5%;
}

.wrapper .side-wrap .side .icon-list li {
  padding: 0.5em;
}

.wrapper .main-wrapper {
  margin-top: 1em;
  width: 960px;
  margin: 1em auto;
}

@media screen and (max-width: 992px) {
  .wrapper .main-wrapper {
    width: calc(100% - 2em);
    padding: 0 1em;
  }
}

.wrapper .main-wrapper .main-wrap {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrapper .main-wrapper .main-wrap .input-gp .text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
  width: 500px;
}

@media screen and (max-width: 576px) {
  .wrapper .main-wrapper .main-wrap .input-gp .text {
    width: 250px;
  }
}

.wrapper .main-wrapper .main-wrap .input-gp .text input {
  width: 500px;
  height: 45px;
  border: 0;
  font-size: 1em;
  padding: 0 2.5em;
  border: 1px solid #00BCD4;
  border-radius: 4px;
}

.wrapper .main-wrapper .main-wrap .input-gp .text input:focus {
  border: #DD2C00 1px solid;
}

@media screen and (max-width: 576px) {
  .wrapper .main-wrapper .main-wrap .input-gp .text input {
    width: 250px;
  }
}

.wrapper .main-wrapper .main-wrap .input-gp .text .i-left {
  position: absolute;
  padding-left: 1em;
  z-index: 1;
}

.wrapper .main-wrapper .main-wrap .input-gp .text .i-right {
  position: absolute;
  right: 0;
  padding-right: 1em;
  z-index: 1;
}

.wrapper .main-wrapper .main-wrap section {
  margin-bottom: 1em;
}

.wrapper .main-wrapper .btn {
  margin-bottom: 0.5em;
}

.wrapper .main-wrapper .btn .btn-blue {
  line-height: 1em;
  text-align: center;
  display: inline-block;
  background-color: #B2EBF2;
  padding: 0.625em;
  margin-left: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.wrapper .main-wrapper .btn .btn-blue:active {
  background-color: #94e3ee;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0);
}

.wrapper .footer-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  background-color: #B2EBF2;
  font-size: 1.125em;
}

.wrapper .footer-wrap .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.5em;
}

.wrapper .footer-wrap .menu-list li:not(:last-child):after {
  content: "|";
  padding: 0 0.125em;
}

.wrapper .footer-wrap .open-date {
  font-weight: bold;
}

.wrapper li.menu {
  font-weight: 500;
}

.wrapper .header p {
  font-weight: 700;
}
