@import 'base';


//http://junil-hwang.com/blog/css-slide-animation/ 슬라이드 참고
.wrapper{
    background-color: $bgColor;
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
    font-family: $noto-kr;
    color: $fontColor;
    font-size: 0.75em; 
    .side-bt{
        font-size: 2em;
        position: absolute;
        left: 0;
        bottom: 50%;
        transform: translate(50%,50%);
        display: none;
        @include MD{
            display: block;
        }
    }
    .header-wrapper{
        width: 100vw;
        height: 100px;
        color: $headerFontColor;
        position: relative;
        background-color: $headerColor;
        @include fx($h:$CT);
        @include MD{
            
        }
        .header-wrap{
            width: 960px;
            @include fx($h:$SB);
            .title{
                line-height: 1.5em;
                color: $maniTitle;
                font-family: $Yomogi;
                padding: 1em;
                padding-left: 2em;
                font-size: 2.25em;
            }
            .menu-wrap{
                @include fx($v:$FE,$h:$CT);
                font-size: 1.25em;
                @include MD{
                    display: none;
                }
                .menu-list{
                    @include fx();
                    li{
                        padding: 1em;
                    }
                }
                .icon-list{
                    @include fx();
                    li{
                        padding: 1em 0.5em;
                    }
                }
            }
        }
    }   
    
    .side-wrap{
        position: fixed;
        left: 0;
        bottom:0;
        width: 200px;
        height: 100vh;
        background: white;
        z-index: 150;
        left: -9999px;
        transition: all 0.3s;
        animation-timing-function: linear;
        .side-header{
            position: relative;
            color: $headerFontColor;
            height: 100px;
            @include MD{
                //height: 54px;
            }
            margin-bottom: 2em;
            background-color: $headerColor;
        }
        .side{
            @include fx($h:$CT);
            .menu-list{
                text-align: center;
                width: 200px;
                li{
                    width: 100%;
                    padding: 1em;
                    &:hover{
                        background-color: $headerColor;
                        color: $bgColor;
                    }
                }
            }
            .icon-list{
                @include fx();
                position: absolute;
                bottom: 5%;
                li{
                    padding: 0.5em;
                }
            }
        }
    }

    .main-wrapper{
        background-color: white;
        margin-top: 1em;
        width: 960px;
        margin: 0 auto;
        padding: 1em 0;
        min-height: calc(100vh - 200px);
        @include fx($v:$CT,$direction:column);
        @include MD{
            width: calc(100% - 2em);
            padding: 0 1em;
        }
        .main-wrap{
            width: 100%;
            position: relative;
            .free-detail{
                padding: 0 1em;
                padding-top: 1em;
                @include fx($direction:column);
                .header{
                    font-size: 1.5em;
                    padding-bottom: 0.5em;
                    margin-bottom: 1em;
                    border-bottom: 2px solid rgb(240, 237, 237);
                }
                .detail-wrap{
                    div{
                        padding: 0.25em 0;
                    }
                    .btn-wrap{
                        margin: 0;
                        box-shadow: none;
                        .btn{
                            font-size: 0.75em;
                            @include MD{
                                font-size: 1em;
                            }
                        }
                    }
                    .detail{
                        .btn-right{
                            @include fx($h:$FE);
                        }
                        border-top: 1px solid $borderGray;
                        border-bottom: 1px solid $borderGray;
                        .title{
                            font-size: 1.5em;
                            font-weight: 500;
                        }
                        .info-wrap{
                            @include fx();
                            .date{
                                
                            }
                            .view-count{

                            }
                            border-bottom: 1px solid $borderGray;
                        }
                        .content{
                            min-height: 200px;
                            padding: 1em 0;
                        }
                    }
                    .comments{
                        margin-bottom: 5em;
                        .comments-header{
                            background-color: rgb(245, 245, 245);
                            i{

                            }
                        }
                        .comment-wrap{
                            font-size: 0.875em;
                            .comment{
                                @include fx($w:nowrap);
                                .reply{
                                    padding: 0.25em;
                                }
                                .comment-info{
                                    @include fx();
                                    .writer{
                                        width: 40px;
                                    }
                                    .date{
                                        
                                    }
                                }
                                .content{

                                }
                            }
                        }
                        .commint-input-wrap{
                            @include fx();
                            div{
                                padding: 0;
                            }
                            input[type=text]{
                                width: calc(100% - 3em);
                            }
                        }
                    }
                }
            }

        }
    }

    .footer-wrap{
        position: absolute;
        bottom: 0;
        width: 100vw;
        color: $footerColor;
        @include fx($h:$CT,$v:$CT,$direction:column);
        height: 100px;
        background-color: $headerColor;
        font-size: 1.125em;
        .menu-list{
            @include fx();
            margin-bottom: 0.5em;
            li{
                &:not(:last-child):after{
                    content: "|";
                    padding: 0 0.125em;

                }
            }
        }
        .open-date{
            // font-weight: bold;
        }
    }

    //공통
    li.menu{
        font-weight: 500;
    }












































}